html, body {
background: #333;
height: 100%;
overflow: hidden;
text-align: center;
}

.info{
  color: #FFF07C;
  font-weight: bold;
}
.question{
  color: #19f6e8;
  font-size: 22px;
}

label {
display: inline;
padding-left: 15px;
text-indent: -15px; 
}
input {
width: 13px;
height: 13px;
padding: 0;
margin:5px;
vertical-align: bottom;
position: relative;
top: -1px;
*overflow: hidden;
}

button{
height: 60px;
margin-top: 50px;
position: relative;
top: 50%;
transform: translateY(-50%);
width: 320px;
}
.shape {
fill: transparent;
stroke-dasharray: 140 540;
stroke-dashoffset: -474;
stroke-width: 8px;
stroke: #19f6e8;
}
.text {
color: #fff;
font-size: 25px;
line-height: 32px;
position: relative;
top: -50px;
}
@keyframes draw {
0% {
stroke-dasharray: 140 540;
stroke-dashoffset: -474;
stroke-width: 8px;
}
100% {
stroke-dasharray: 760;
stroke-dashoffset: 0;
stroke-width: 2px;
}
}
.svg-wrapper:hover .shape {
-webkit-animation: 0.5s draw linear forwards;
animation: 0.5s draw linear forwards;
}
a{
  text-decoration:none;
}
