<body>
  <section>
    <p>
      لقد أنهيت الإختبار؛ لديك الان امكانية اختيار انهاء الاختبار والانتقال تلقائيا الى النتائج، أو الضفط على زر 'السابق' للعودة إلى السؤال الأخير لتغيير الإجابة
    </p>
  </section>

  <nav aria-label="...">
  <ul class="pager">
    <li><a href="/questions"> السابق </a></li>
    <li><a href="/result"> تم </a></li>
  </ul>
</nav>

</body>
