<body>
  <section>
    <p>
      لقد أنهيت الإختبار؛ لديك الان امكانية اختيار انهاء الاختبار والانتقال تلقائيا الى النتائج، أو الضفط على زر 'السابق' للعودة إلى السؤال الأخير لتغيير الإجابة
    </p>
    <a href="/result">
      <input class="finish-button" type="submit" name="Finish" value="إنهاء">
    </a>
    <a href="/questions">
      <input class="previous-button" type="submit" name="Previous" value="السابق">
    </a>
  </section>
</body>
