<body>
  <section>
    <p>
      لقد أنهيت الإختبار؛ لديك الان امكانية اختيار انهاء الاختبار والانتقال تلقائيا الى النتائج، أو الضفط على زر × 'السابق' للعودة إلى السؤال الأخير لتغيير الإجابة
    </p>
    <input class="finish-button" type="submit" name="button" value="إنهاء">
    <input class="previous-button" type="submit" name="button" value="السابق">
  </section>
</body>
