
<body>
  <section>
    <p class="p1 text-info">
      تأسس موقِعُ خطوات بِهدف توفير خِدمة التّوجيه والإستشارة الدّراسية والمهنيّــة  المجّانية لكلّ من يرغب في الحصول عليها، تحديداً للمُقبِلينَ على الإنضمام إلى مؤسسات التعليم العالي، في الوسط العربي في دولة إسرائيل
    </p>
  </section>
  <section>
    <h3 class="howToChoseMajor">كيفية اختيار التخصص </h3>
    <p class="p2 text-info">
      عليك أن تختار التخصص حسب رغبتك وميولك، إذ إنّك لن تبدع ولن تكون ماهرًا بأي مجال لا رغبة لك فيه، بحيث أنّ الطبيب إذا درس الطب وهو يهوى مثلًا اللغة العربية فلن يتابع في هذا المجال إلًا أنه سيصب اهتمامه حول علم اللغة، ويضاف إلى ذلك مثلًا من يدرس علم الاجتماع وهو يرغب بدراسة العلوم الماليّة والمصرفيّة، فلن يبدع أبدًا ولن يستوعب إلّا ما يميل له.
    </p>
  </section>

  <a href="/question1">
    <button id="start" type="button" class="btn btn-default btn-lg btn-block"> إبدأ </button>

  </a>

</body>
