<head>
  <title>معلومات حول خطوات</title>
</head>

<body>
  <p class="p1">
    تأسس موقِعُ خطوات بِهدف توفير خِدمة التّوجيه والإستشارة الدّراسية والمهنيّــة المجّانية لكلّ من يرغب في الحصول عليها، تحديداً للمُقبِلينَ على الإنضمام إلى مؤسسات التعليم العالي، في الوسط العربي في دولة إسرائيل
  </p>

  <p clss="p2">
    تأسس موقِعُ خطوات بِهدف توفير خِدمة التّوجيه والإستشارة الدّراسية والمهنيّــة المجّانية لكلّ من يرغب في الحصول عليها، تحديداً للمُقبِلينَ على الإنضمام إلى مؤسسات التعليم العالي، في الوسط العربي في دولة إسرائيل
  </p>

  <div class="buttons">
  <button class="blob-btn">
    إبدأ
  <span class="blob-btn__inner">
    <span class="blob-btn__blobs">
      <span class="blob-btn__blob"></span>
      <span class="blob-btn__blob"></span>
      <span class="blob-btn__blob"></span>
      <span class="blob-btn__blob"></span>
    </span>
  </span>
  </button>
</body>
