
<body>
  <section>
    <p class="p1 text-info.sr-only">
      تأسس موقِعُ خطوات بِهدف توفير خِدمة التّوجيه والإستشارة الدّراسية والمهنيّــة  المجّانية لكلّ من يرغب في الحصول عليها، تحديداً للمُقبِلينَ على الإنضمام إلى مؤسسات التعليم العالي، في الوسط العربي في دولة إسرائيل
    </p>
  </section>
  <section>
    <p class="p2 text-info">
      تأسس موقِعُ خطوات بِهدف توفير خِدمة التّوجيه والإستشارة الدّراسية والمهنيّــة المجّانية لكلّ من يرغب في الحصول عليها، تحديداً للمُقبِلينَ على الإنضمام إلى مؤسسات التعليم العالي، في الوسط العربي في دولة إسرائيل
    </p>
  </section>

  <a href="/questions">
    <input type="submit" name="Start" value="إبدأ">
  </a>

</body>
