<body>
  <section>
    <p>information about the question</p>

    <h2>what is a question???????</h2>

    <div class="answers">
      <label for="">aswer 1</label>
      <input type="checkbox" name="" value="">
      <br>
      <label for="">answerc2</label>
      <input type="checkbox" name="" value="">
      <br>
      <label for="">answer 3</label>
      <input type="checkbox" name="" value="">
      <br>
      <label for="">answer 4</label>
      <input type="checkbox" name="" value="">
      <br>
      <label for="">answer 5</label>
      <input type="checkbox" name="" value="">
    </div>

  <a href="/">
    <input type="submit" name="Previous" value="السّابق">
  </a>
  <a href="/finish">
    <input type="submit" name="Next" value="التّالي">
  </a>
</body>
