<body>
  <section>
   <p class="information">
     إختر إجابة واحده فقط
   </p>

    <h2 class="question">كيف تقدّر تحصيلك في المواضيع الأدبية ؟ </h2>

    <div class="answers list-group">
      <button type="button" class="list-group-item"> مرتفع جداً </button>
      <button type="button" class="list-group-item"> مرتفع </button>
      <button type="button" class="list-group-item"> متوسط </button>
      <button type="button" class="list-group-item"> ضعيف </button>
    </div>
  </section>

  <nav aria-label="...">
    <ul class="pager">
      <li><a href="/question3"> تم </a></li>
      <li><a href="/question1"> السابق </a></li>
    </ul>
  </nav>

</body>
