<body>
  <section>
   <p class="information">       تأسس موقِعُ خطوات بِهدف توفير خِدمة التّوجيه     والإستشارة الدّراسية والمهنيّــة المجّانية لكلّ من يرغب في الحصول عليها، تحديداً للمُقبِلينَ على الإنضمام إلى مؤسسات التعليم العالي، في الوسط العربي في دولة إسرائيل
   </p>

    <h2 class="question"> السؤال الاول ما هو ؟؟؟؟؟ </h2>

    <div class="answers list-group">
      <button type="button" class="list-group-item"> الجواب رقم 1 </button>
      <button type="button" class="list-group-item"> الجواب رقم 2 </button>
      <button type="button" class="list-group-item"> الجواب رقم 3 </button>
      <button type="button" class="list-group-item"> الجواب رقم 4 </button>
    </div>
  </section>

  <nav aria-label="...">
    <ul class="pager">
      <li><a href="/finish"> تم </a></li>
      <li><a href="/"> السابق </a></li>
    </ul>
  </nav>

</body>
