<body>
  <section>
    <p class="bg-info">information about the question</p>

    <h2>what is a question???????</h2>

    <div class="list-group">
      <button type="button" class="list-group-item">answer1</button>
      <button type="button" class="list-group-item">answer2</button>
      <button type="button" class="list-group-item">answer3</button>
      <button type="button" class="list-group-item">answer4</button>
      <button type="button" class="list-group-item">answer5</button>
    </div>
  </section>

  <nav aria-label="...">
    <ul class="pager">
      <li><a href="/"> السابق </a></li>
      <li><a href="/finish"> تم </a></li>
    </ul>
  </nav>
  
</body>
