<body>

    <h1 class="panel panel-success"> نتائج الاختبار </h1>

    <div class="list-group">
      <h3><a href="#" class="list-group-item">major</a></h3>
      <h3><a href="#" class="list-group-item">major</a></h3>
      <h3><a href="#" class="list-group-item">major</a></h3>
    </div>

</body>

