<body>

    <h1 class="result panel panel-success"> نتائج الاختبار </h1>

    <div class="result list-group">
      <h3><a href="#" class="list-group-item"> التخصص 1 </a></h3>
      <h3><a href="#" class="list-group-item"> التخصص 2 </a></h3>
      <h3><a href="#" class="list-group-item"> التخصص3 </a></h3>
    </div>

</body>
